<div class="container">
  <div class="logo">

    <img src="https://www.fiserv.com/content/dam/fiserv-ent/final-files/logos/fiserv-logo/Fiserv_White_Logo_0121.svg" alt="Fiserv">
  </div>

  <div class="heading">
    Dev Connect
  </div>
  <div class="form-container">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
  </div>


</div>